* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  min-height: 100vh;
}

body {
  background-color: #e4e5e7;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.aside {
  height: 400px;
}

.main {
  height: 400px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-title {
  font-weight: 400;
  padding-top: 5px;
}

.gray {
  color: #bdbdbd;
}

.task-title--done {
  text-decoration: line-through;
  color: #cdcdcd;
}

.task-item__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}

.notify-holder {
  height: 60px;
  margin-bottom: 20px;
}

.empty-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.empty-list__title {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 300;
}

.empty-list__icon {
  color: #42be2a;
  font-size: 32px;
}

.btn-action {
  background-color: #e0e5ea;
  padding: 8px 10px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn-action img {
  pointer-events: none;
}
.btn-action:hover {
  background-color: #e0e5ea;
  opacity: 1;
}

.none {
  display: none !important;
}

.float-right {
  float: right;
}

.copyright {
  margin-top: 40px;
  font-size: 14px;
  color: gray;
  text-align: center;
  margin-bottom: 30px;
  /* position: absolute; */
  /* bottom: 30px; */
  /* left: 0; */
  /* right: 0; */
}